language: cpp
dist: xenial
matrix:
  include:
    # GCC 7
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"
    # Clang - default version on Xenial suffices
    - os: linux
      env:
        - MATRIX_EVAL="CC=clang && CXX=clang++"
before_install:
  - eval "${MATRIX_EVAL}"
script:
  - mkdir -p build && cd build
  - cmake -DCODE_COVERAGE=ON ..
  - make && make test
addons:
  apt:
    packages:
      - lcov
after_success:
  # Create lcov report
  # capture coverage info
  - lcov --directory . --capture --output-file coverage.info
  # filter out system and extra files.
  # To also not include test code in coverage add them with full path to the patterns: '*/tests/*'
  - lcov --remove coverage.info '/usr/*' --output-file coverage.info
  # output coverage data for debugging (optional)
  - lcov --list coverage.info
  # Uploading to CodeCov
  # '-f' specifies file(s) to use and disables manual coverage gathering and file search which has already been done above
  - bash <(curl -s https://codecov.io/bash) -f coverage.info || echo "Codecov did not collect coverage reports"
